
.divider{
    border: #FF90BB dotted 6px;
    border-bottom: none ;
    width: 4%;
    margin-top: 100px;
    margin-bottom: 100px;

}
body{
    text-align: center;
    margin: 0;
    font-family: Times, "Times New Roman", Georgia, serif;
    background-color: #FBFFDC;
}
h1{
    font-size: 5.625rem;
    margin: 50px, auto, 0, auto;
    font-family: "Lucida Console", Courier, monospace;
    color: #9681EB;
}
h2{
    color: #9681EB;
    font-family: fantasy;
    font-size: 2.5rem;
    font-weight: normal; 
    padding-bottom: 10px;
}
h3{
    color: #9681EB;
    font-family: 'Montserrat', sans-serif;
}
hr {
    border: #FF90BB dotted 6px;
    border-bottom: none ;
    width: 4%;
  }
  .intro{
    width: 25%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
p{
        line-height: 2;
        font-family: 'Montserrat', sans-serif;
 }
    a{
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
        text-decoration: none;
    }
    a:hover{
        color: #9681EB;
    }



.top-container{

    padding-top: 100px;
    background-color: #D0F5BE;
    position: relative;
    width: auto;
}
.middle-container{
    margin: 100px 0;
    
}
.bottom-container{
    background-color: #A4907C;
    padding: 50px 0 20px;
    width: auto;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottomcloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.profpic{
    border-radius: 100%;
    height: 200px;
    width: 200px;
}
.WEB{
    text-decoration: underline;
}
.skills{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
.devimg{
    width: 30%;
    float: left;
    margin-right: 40px;
}
.ball{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.Message {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #A7EDE7, #9681EB);
    background-image: -moz-linear-gradient(top, #A7EDE7, #9681EB);
    background-image: -ms-linear-gradient(top, #A7EDE7, #9681EB);
    background-image: -o-linear-gradient(top, #A7EDE7, #9681EB);
    background-image: linear-gradient(to bottom, #A7EDE7, #9681EB);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.contact{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #30e3cb;
    padding: 20px 0;
    font-size: 0.75rem;
}